* {
    box-sizing: border-box;
}

.booklet {
    display: inline-block;
    background-color: lightgray;
    margin: 0.5em;
    border-radius: 10px;
    padding: 0.5em;
    max-width: 45%;
}

.front-page {
    color: green;
}
.back-page {
    color: red;
}
.blank-page {
    border-radius: 5px;
    background-color: black;
    color: white;
}
input[type=number]{
    text-align: right;
    width: 80px;
}
dt {
    font-family: sans-serif;
    font-weight: bold;
    color: darkgrey;
}
dt.note {
    font-weight: normal;
    font-size: small;
    background-color: goldenrod;
    border-radius: 4px;
    padding: 0.2em;
    font-style: italic;
    margin-top: 0.2em;
    color: white;
}
body {
    background-color: lightyellow;
}
form {
    background-color: blanchedalmond;
    padding: 1em;
    display: inline-block;
    clear: both;
    border-radius: 10px;
}
form div {
    margin-bottom: 0.5em;
}
label {
    font-style: italic;
    color: darkgrey;
}
.legend {
    margin-top: 2em;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.block {
    display: inline-block;
    float: left;
}
.sessions {
    margin-left: 1em;
}
.list-buttons {
    display: inline-block;
}
.list-buttons button {
    display: block;
}
.sessions input[type=text], .sessions select {
    min-width: 20em;
}
.sessions input,
.sessions select,
.sessions button
{
    margin: 0.2em;
}
fieldset {
    border-radius: 5px;
}

.pair::before {
    content: "(";
    color: lightgray;
}
.pair::after {
    content: ")";
    color: lightgray;
}
.booklet .pair::before, .booklet .pair::after {
    color: whitesmoke;
}